<h1 mat-dialog-title> {{ isChange ? 'Editar' : 'Criar'}} Usuário</h1>
<form [formGroup]="form" mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Peso</mat-label>
    <input matInput formControlName="weight" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Idade</mat-label>
    <input matInput formControlName="age" />
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onConfirm()" cdkFocusInitial [disabled]="!form.valid">{{ isChange ? 'Editar' : 'Criar'}}</button>
</div>
